.btn {
  background-color: transparent;
  /* color: black; */
}

.btn.primary {
  background-color: black;
}

.btn.secondary {
  background-color: transparent;
  color: black;
  border-style: none;
}

.btn.btn.secondary:hover {
  border-style: none;
}
